# Iyzico API Bilgileri
IYZICO_API_KEY=sandbox-u7tMS9T7f9abAB3jFIly0lksyAZf4Eih
IYZICO_SECRET_KEY=sandbox-NuG3DkICL2y0fU0YL3V79kTLh2wO0e9R
IYZICO_URI=https://sandbox-api.iyzipay.com
IYZICO_CALLBACK_URL=http://localhost:3001/api/payments/iyzico-callback

# Server Ayarları
PORT=3001
NODE_ENV=development

# CORS Ayarları
FRONTEND_URL=http://localhost:5173

# Güvenlik
JWT_SECRET=your_jwt_secret_key

